In [1]:
import torch
import torch.nn as nn

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
df = pd.read_csv('surnames.csv')
df.tail()

,Unnamed: 0,_id,count,gender,ethnic,f_form,fname,text
0,0,b'4bdaa13d9d55821a51000000',6926,m,slav,Иванова,Иван,Иванов